<?xml version="1.0" encoding="UTF-8"?>
<configuration xmlns="http://schemas.microsoft.com/.NetConfiguration/v2.0">
	<configSections>
		<sectionGroup name="system.web">
			<section name="neatUpload" type="Brettle.Web.NeatUpload.ConfigSectionHandler,Brettle.Web.NeatUpload" allowLocation="true" />
		</sectionGroup>
	</configSections>
	<appSettings>
		<add key="SqlConn.Conn" value="Server=10.3.100.95;database=tcpc0;user id=sa;Password=sa" />
		<add key="SqlConn.Conn1" value="Server=10.3.100.95;database=tcpc1;user id=sa;Password=sa" />
		<add key="SqlConn.Conn2" value="Server=10.3.100.95;database=tcpc2;user id=sa;Password=sa" />
		<add key="SqlConn.Conn3" value="Server=10.3.100.95;database=tcpc3;user id=sa;Password=sa" />
		<add key="SqlConn.Conn4" value="Server=10.3.100.95;database=tcpc4;user id=sa;Password=sa" />
		<add key="SqlConn.Conn5" value="Server=10.3.100.95;database=tcpc5;user id=sa;Password=sa" />
		<add key="SqlConn.Conn6" value="Server=10.3.100.95;database=tcpc6;user id=sa;Password=sa" />
		<add key="SqlConn.Conn7" value="Server=10.3.100.95;database=tcpc7;user id=sa;Password=sa" />
		<add key="SqlConn.Conn8" value="Server=10.3.100.95;database=tcpc8;user id=sa;Password=sa" />
		<add key="SqlConn.Conn10" value="Server=10.3.100.95;database=tcpc10;user id=sa;Password=sa" />
		<add key="SqlConn.Conn11" value="Server=10.3.100.95;database=tcpc11;user id=sa;Password=sa" />
		<add key="SqlConn.Conn12" value="Server=10.3.100.95;database=tcpc12;user id=sa;Password=sa" />
		<add key="SqlConn.QAD_DATA" value="Server=10.3.100.95;database=QAD_DATA;user id=sa;Password=sa" />
		<add key="SqlConn.JDE_DATE" value="Server=10.3.100.95;database=JDE_DATA;user id=sa;Password=sa" />
		<add key="sqlConn.Conn9" value="DSN=mfgtcp;UID=zxdz;HOST=10.3.0.85;PORT=60055;DB=mfgtcp;PWD=zxdz;" />
		<add key="sqlConn.Conn9C" value="DSN=mfgtcpC;UID=test;HOST=10.3.0.85;PORT=60055;DB=mfgtcp;PWD=test;" />
		<add key="sqlConn.MfgTrain" value="DSN=mfgtrain;UID=sql;HOST=10.3.0.75;PORT=60057;DB=mfgtrain;PWD=sql;" />
		<add key="sqlConn.MfgTrain1" value="DSN=mfgtrain;UID=test;HOST=10.3.0.75;PORT=60057;DB=mfgtrain;PWD=test;" />
		<add key="SqlConn.Conn_edi" value="Server=10.3.100.95;database=EDI_DB;user id=sa;Password=sa" />
		<add key="SqlConn.Conn_lab" value="Server=10.3.100.95;database=tcpc_lab;user id=sa;Password=sa" />
		<add key="SqlConn.Conn_qaddoc" value="Server=10.3.100.95;database=qaddoc;user id=sa;Password=sa" />
		<add key="SqlConn.Conn99" value="Server=10.3.100.95;database=tcpc99;user id=sa;Password=sa" />
		<add key="SqlConn.Conn98" value="Server=10.3.100.95;database=tcpc98;user id=sa;Password=sa" />
		<add key="SqlConn.Conn_rdw" value="Server=10.3.100.95;database=rd_workflow;user id=sa;Password=sa" />
		<add key="SqlConn.Conn_PM" value="Server=10.3.100.95;database=PM;user id=sa;Password=sa" />
		<add key="SqlConn.Conn_WF" value="Server=10.3.100.95;database=WorkFlow;user id=sa;Password=sa" />
		<add key="SqlConn.TCPC_Supplier" value="Server=10.3.100.95;database=TCPC_Supplier;user id=sa;Password=sa" />
		<add key="SqlConn.rmInspection" value="Server=10.3.100.95;database=rmInspection;user id=sa;Password=sa" />
    <add key="SqlConn.qadplan" value="Server=10.3.100.95;database=qadplan;user id=sa;Password=sa" />
    <add key="SqlConn.BarCodeSys" value="Server=10.3.100.95;database=BarCodeSys;user id=sa;Password=sa" />
		<add key="mailServer" value="10.3.0.65" />
		<add key="FtpServerAddress" value="10.3.0.92:21" />
		<add key="FtpServerUserName" value="administrator" />
		<add key="FtpServerPassword" value="VGNwQ2hpbmE5Mg==" />
		<add key="AdminEmail" value="sysadmin@tcp-china.com" />
		<add key="AdminEmailPwd" value="sysadm1n" />
    <add key="IsHelpEmail" value="isHelp@tcp-china.com" />
    <add key="IsHelpEmailPwd" value="aXNoZWxwIQ==" />
	</appSettings>
	<connectionStrings>
		<add name="SqlConn.ConnStr" connectionString="Data Source=10.3.100.95;Initial Catalog=tcpc0;Persist Security Info=True;user id=sa;Password=sa" providerName="System.Data.SqlClient" />
		<add name="SqlConn.ConnStr1" connectionString="Data Source=10.3.100.95;Initial Catalog=tcpc1;Persist Security Info=True;user id=sa;Password=sa" providerName="System.Data.SqlClient" />
		<add name="SqlConn.ConnStr2" connectionString="Data Source=10.3.100.95;Initial Catalog=tcpc2;Persist Security Info=True;user id=sa;Password=sa" providerName="System.Data.SqlClient" />
		<add name="SqlConn.ConnStr3" connectionString="Data Source=10.3.100.95;Initial Catalog=tcpc3;Persist Security Info=True;user id=sa;Password=sa" providerName="System.Data.SqlClient" />
		<add name="SqlConn.ConnStr4" connectionString="Data Source=10.3.100.95;Initial Catalog=tcpc4;Persist Security Info=True;user id=sa;Password=sa" providerName="System.Data.SqlClient" />
		<add name="SqlConn.ConnStr5" connectionString="Data Source=10.3.100.95;Initial Catalog=tcpc5;Persist Security Info=True;user id=sa;Password=sa" providerName="System.Data.SqlClient" />
		<add name="SqlConn.ConnStr6" connectionString="Data Source=10.3.100.95;Initial Catalog=tcpc6;Persist Security Info=True;user id=sa;Password=sa" providerName="System.Data.SqlClient" />
		<add name="SqlConn.ConnStr7" connectionString="Data Source=10.3.100.95;Initial Catalog=tcpc7;Persist Security Info=True;user id=sa;Password=sa" providerName="System.Data.SqlClient" />
		<add name="SqlConn.ConnStr8" connectionString="Data Source=10.3.100.95;Initial Catalog=tcpc8;Persist Security Info=True;user id=sa;Password=sa" providerName="System.Data.SqlClient" />
		<add name="SqlConn.ConnStr9" connectionString="Data Source=10.3.100.95;Initial Catalog=tcpc9;Persist Security Info=True;user id=sa;Password=sa" providerName="System.Data.SqlClient" />
		<add name="SqlConn.ConnStr98" connectionString="Data Source=10.3.100.95;Initial Catalog=tcpc98;Persist Security Info=True;user id=sa;Password=sa" providerName="System.Data.SqlClient" />
		<add name="tcpc1ConnectionString1" connectionString="Data Source=10.3.100.95;Initial Catalog=tcpc1;Persist Security Info=True;user id=sa;Password=sa" providerName="System.Data.SqlClient" />
	</connectionStrings>
	<system.web>
		<httpModules>
			<add name="UploadHttpModule" type="Brettle.Web.NeatUpload.UploadHttpModule, Brettle.Web.NeatUpload" />
		</httpModules>
		<neatUpload useHttpModule="false" maxNormalRequestLength="4096" maxRequestLength="102400" defaultProvider="FilesystemUploadStorageProvider">
			<providers>
				<add name="FilesystemUploadStorageProvider" type="Brettle.Web.NeatUpload.FilesystemUploadStorageProvider, Brettle.Web.NeatUpload" />
			</providers>
		</neatUpload>
		<!--  
			DYNAMIC DEBUG COMPILATION
			Set compilation debug="true" to enable ASPX debugging.  Otherwise, setting this value to
			false will improve runtime performance of this application. 
			Set compilation debug="true" to insert debugging symbols (.pdb information)
			into the compiled page. Because this creates a larger file that executes
			more slowly, you should set this value to true only when debugging and to
			false at all other times. For more information, refer to the documentation about
			debugging ASP .NET files.
		-->
		<globalization culture="zh-CN" />
		<pages enableEventValidation="false" viewStateEncryptionMode="Never" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
			<namespaces>
				<add namespace="Microsoft.VisualBasic" />
				<add namespace="System.Data" />
				<add namespace="System.Drawing" />
			</namespaces>
		</pages>
		<compilation defaultLanguage="vb" debug="true" targetFramework="4.0">
			<compilers>
				<compiler language="vb" type="Microsoft.VisualBasic.VBCodeProvider, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" extension=".VB" compilerOptions="/define:Debug=True /define:Trace=True /imports:Microsoft.VisualBasic,System,System.Collections,System.Configuration,System.Data,System.Drawing,System.Web,System.Web.UI,System.Web.UI.HtmlControls,System.Web.UI.WebControls" />
			</compilers>
			<assemblies>
				<add assembly="Microsoft.Vbe.Interop, Version=12.0.0.0, Culture=neutral, PublicKeyToken=71E9BCE111E9429C" />
				<add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
				<add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
				<add assembly="System.Management, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
				<add assembly="System.Configuration.Install, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
				<add assembly="System.Data.OracleClient, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
				<add assembly="System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
				<add assembly="System.Web.Services, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
				<add assembly="System.Data, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
				<add assembly="System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
				<add assembly="System.Drawing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
				<add assembly="System.Xml, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
				<add assembly="System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
			</assemblies>
		</compilation>
		<!--<identity impersonate="true" />-->
		
		<!--<compilation defaultLanguage="vb" debug="true">
			<assemblies>
				<add assembly="System.Design, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Windows.Forms, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Management, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Configuration.Install, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Data.OracleClient, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
			</assemblies>
		</compilation>-->
		
		<!--  
			CUSTOM ERROR MESSAGES
			Set customError mode values to control the display of user-friendly 
			error messages to users instead of error details (including a stack trace):

			"On" Always display custom (friendly) messages  
			"Off" Always display detailed ASP.NET error information.
			"RemoteOnly" Display custom (friendly) messages only to users not running 
			on the local Web server. This setting is recommended for security purposes, so 
			that you do not display application detail information to remote clients.
		-->
		<!--<customErrors mode="Off" />-->
		<customErrors allowNestedErrors="true" defaultRedirect="/public/denied.htm" mode="RemoteOnly">
			<error statusCode="404" redirect="/public/404.htm"></error>
			<error statusCode="500" redirect="/public/500.htm"></error>
		</customErrors>
		<!--  
			AUTHENTICATION 
			This section sets the authentication policies of the application. Possible modes are "Windows", "Forms", 
			"Passport" and "None"
		-->
		<authentication mode="Forms">
			<forms name="tcpc" loginUrl="Login.aspx" timeout="60" />
		</authentication>
		<authorization>
			<deny users="?" />
		</authorization>
		<!--  
			APPLICATION-LEVEL TRACE LOGGING
			Application-level tracing enables trace log output for every page within an application. 
			Set trace enabled="true" to enable application trace logging.  If pageOutput="true", the
			trace information will be displayed at the bottom of each page.  Otherwise, you can view the 
			application trace log by browsing the "trace.axd" page from your web application
			root. 
		-->
		<trace enabled="false" requestLimit="10" pageOutput="false" traceMode="SortByTime" localOnly="true" />
		<!--  
			SESSION STATE SETTINGS
			By default ASP .NET uses cookies to identify which requests belong to a particular session. 
			If cookies are not available, a session can be tracked by adding a session identifier to the URL. 
			To disable cookies, set sessionState cookieless="true".
		-->
		<sessionState cookieless="UseCookies" mode="StateServer" sqlConnectionString="data source=127.0.0.1;user id=sql;password=" stateConnectionString="tcpip=127.0.0.1:42424" stateNetworkTimeout="1200" timeout="1200" />
		<httpRuntime maxRequestLength="2097151" executionTimeout="2000" requestValidationMode="2.0" />
		<!--  
			GLOBALIZATION
			This section sets the globalization settings of the application. 
		-->
		<browserCaps>
			<!-- GECKO Based Browsers (Netscape 6+, Mozilla/Firebird, ...) //-->
			<case match="^Mozilla/5\.0 \([^)]*\) (Gecko/[-\d]+)? (?'type'[^/\d]*)([\d]*)/(?'version'(?'major'\d+)(?'minor'\.\d+)(?'letters'\w*)).*">
        browser=Gecko
        type=${type}
        frames=true
        tables=true
        cookies=true
        javascript=true
        javaapplets=true
        ecmascriptversion=1.5
        w3cdomversion=1.0
        css1=true
        css2=true
        xml=true
        tagwriter=System.Web.UI.HtmlTextWriter
        <case match="rv:(?'version'(?'major'\d+)(?'minor'\.\d+)(?'letters'\w*))">
          version=${version}
          majorversion=${major}
          minorversion=${minor}
          <case match="^b" with="${letters}">
            beta=true
          </case>
				</case>
			</case>
			<!-- AppleWebKit Based Browsers (Safari...) //-->
			<case match="AppleWebKit/(?'version'(?'major'\d)(?'minor'\d+)(?'letters'\w*))">
        browser=AppleWebKit
        version=${version}
        majorversion=${major}
        minorversion=0.${minor}
        frames=true
        tables=true
        cookies=true
        javascript=true
        javaapplets=true
        ecmascriptversion=1.5
        w3cdomversion=1.0
        css1=true
        css2=true
        xml=true
        tagwriter=System.Web.UI.HtmlTextWriter
        <case match="AppleWebKit/(?'version'(?'major'\d)(?'minor'\d+)(?'letters'\w*))( \(KHTML, like Gecko\) )?(?'type'[^/\d]*)/.*$">
          type=${type}
        </case>
			</case>
			<!-- Konqueror //-->
			<case match="Konqueror/(?'version'(?'major'\d+)(?'minor'\.\d+)(?'letters'));\w*(?'platform'[^\)]*)">
        browser=Konqueror
        version=${version}
        majorversion=${major}
        minorversion=${minor}
        platform=${platform}
        type=Konqueror
        frames=true
        tables=true
        cookies=true
        javascript=true
        javaapplets=true
        ecmascriptversion=1.5
        w3cdomversion=1.0
        css1=true
        css2=true
        xml=true
        tagwriter=System.Web.UI.HtmlTextWriter
      </case>
		</browserCaps>
    <identity impersonate="false" />
  </system.web>
	<location path="RDW_DetailEdit.aspx">
		<system.web>
			<neatUpload useHttpModule="true" />
			<httpRuntime maxRequestLength="102400" executionTimeout="3600" useFullyQualifiedRedirectUrl="true" />
		</system.web>
	</location>
	<location path="qad_documentdetail1.aspx">
		<system.web>
			<neatUpload useHttpModule="true" />
			<httpRuntime maxRequestLength="102400" executionTimeout="3600" useFullyQualifiedRedirectUrl="true" />
		</system.web>
	</location>
	<location path="install.aspx">
		<system.web>
			<authorization>
				<allow users="*" />
			</authorization>
		</system.web>
	</location>
	<location path="atx">
		<system.web>
			<authorization>
				<allow users="*" />
			</authorization>
		</system.web>
	</location>
	<location path="public">
		<system.web>
			<authorization>
				<allow users="*" />
			</authorization>
		</system.web>
	</location>
	<location path="ForgetPassword/ForgetPasswordReq.aspx">
		<system.web>
			<authorization>
				<allow users="*" />
			</authorization>
		</system.web>
	</location>
	<location path="ForgetPassword/changePassWord.aspx">
		<system.web>
			<authorization>
				<allow users="*" />
			</authorization>
		</system.web>
	</location>
	<system.webServer>
		<staticContent>
      <remove fileExtension=".json" />
      <remove fileExtension=".aspx" />
			<mimeMap fileExtension=".json" mimeType="application/javascript" />
      <mimeMap fileExtension=".aspx" mimeType="application/x-ms-application" />
            <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="00:00:10" />
		</staticContent>
		<defaultDocument>
			<files>
				<remove value="default.aspx" />
				<add value="Login.aspx" />
			</files>
		</defaultDocument>
		<caching>
			<profiles>
				<add extension=".jpg" policy="CacheForTimePeriod" kernelCachePolicy="DontCache" duration="00:00:20" />
				<add extension=".js" policy="CacheForTimePeriod" kernelCachePolicy="DontCache" duration="00:00:20" />
				<add extension=".css" policy="CacheForTimePeriod" kernelCachePolicy="DontCache" duration="00:00:20" />
				<add extension=".htm" policy="CacheForTimePeriod" kernelCachePolicy="DontCache" duration="00:00:20" />
			</profiles>
		</caching>
		<httpErrors>
			<remove statusCode="404" subStatusCode="-1" />
			<error statusCode="404" prefixLanguageFilePath="" path="/public/404.htm" responseMode="ExecuteURL" />
		</httpErrors>
		<!--<defaultDocument>
			<files>
				<add value="Login.aspx"/>
			</files>
		</defaultDocument>-->
	</system.webServer>
 <system.serviceModel>
  <bindings>
   <basicHttpBinding>
    <binding name="WebService1Soap" />
   </basicHttpBinding>
  </bindings>
  <client>
   <endpoint address="http://10.3.2.44:600/WebService1.asmx" binding="basicHttpBinding"
    bindingConfiguration="WebService1Soap" contract="QadService.WebService1Soap"
    name="WebService1Soap" />
  </client>
 </system.serviceModel>
</configuration>
