.font5 {
    color: windowtext;
    font-size: 12.0pt;
    font-weight: 700;
    font-style: normal;
    text-decoration: none;
    font-family: "Times New Roman", serif;
}

.font0 {
    color: windowtext;
    font-size: 12.0pt;
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
    font-family: 宋体;
}

.font6 {
    color: windowtext;
    font-size: 12.0pt;
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
    font-family: "Times New Roman", serif;
}

.auto-style1 {
    height: 21.0pt;
    width: 44pt;
    color: windowtext;
    font-size: 10.0pt;
    font-weight: 700;
    font-style: normal;
    text-decoration: none;
    font-family: 宋体;
    text-align: general;
    vertical-align: middle;
    white-space: nowrap;
    border-left: 1.0pt solid windowtext;
    border-right-style: none;
    border-right-color: inherit;
    border-right-width: medium;
    border-top-style: 1.0pt solid windowtext;
    border-top-color: inherit;
    border-top-width: medium;
    border-bottom-style: none;
    border-bottom-color: inherit;
    border-bottom-width: medium;
    padding-left: 1px;
    padding-right: 1px;
    padding-top: 1px;
}

.auto-style2 {
    width: 54pt;
    color: windowtext;
    font-size: 12.0pt;
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
    font-family: 宋体;
    text-align: general;
    vertical-align: middle;
    white-space: nowrap;
    border-left-style: none;
    border-left-color: inherit;
    border-left-width: medium;
    border-right: 1.0pt solid windowtext;
    border-top-style: none;
    border-top-color: inherit;
    border-top-width: medium;
    border-bottom-style: none;
    border-bottom-color: inherit;
    border-bottom-width: medium;
    padding-left: 1px;
    padding-right: 1px;
    padding-top: 1px;
}

.auto-style3 {
    height: 30.0pt;
    width: 348pt;
    color: windowtext;
    font-size: 12.0pt;
    font-weight: 700;
    font-style: normal;
    text-decoration: none;
    font-family: PMingLiU, serif;
    text-align: left;
    vertical-align: middle;
    white-space: normal;
    border-left: 1.0pt solid windowtext;
    border-right: .5pt solid windowtext;
    border-top: .5pt solid windowtext;
    border-bottom: .5pt solid windowtext;
    padding-left: 1px;
    padding-right: 1px;
    padding-top: 1px;
}

.auto-style4 {
    width: 54pt;
    color: windowtext;
    font-size: 12.0pt;
    font-weight: 700;
    font-style: normal;
    text-decoration: none;
    font-family: PMingLiU, serif;
    text-align: center;
    vertical-align: middle;
    white-space: normal;
    border: .5pt solid windowtext;
    padding-left: 1px;
    padding-right: 1px;
    padding-top: 1px;
}

.auto-style5 {
    width: 108pt;
    color: windowtext;
    font-size: 12.0pt;
    font-weight: 700;
    font-style: normal;
    text-decoration: none;
    font-family: PMingLiU, serif;
    text-align: center;
    vertical-align: middle;
    white-space: normal;
    border: .5pt solid windowtext;
    padding-left: 1px;
    padding-right: 1px;
    padding-top: 1px;
}

.auto-style6 {
    height: 26.25pt;
    width: 510pt;
    color: windowtext;
    font-size: 12.0pt;
    font-weight: 700;
    font-style: normal;
    text-decoration: none;
    font-family: PMingLiU, serif;
    text-align: center;
    vertical-align: middle;
    white-space: normal;
    border-left: 1.0pt solid windowtext;
    border-right-style: none;
    border-right-color: inherit;
    border-right-width: medium;
    border-top: .5pt solid windowtext;
    border-bottom: 1.0pt solid windowtext;
    padding-left: 1px;
    padding-right: 1px;
    padding-top: 1px;
}

.auto-style7 {
    width: 81pt;
    color: windowtext;
    font-size: 12.0pt;
    font-weight: 700;
    font-style: normal;
    text-decoration: none;
    font-family: PMingLiU, serif;
    text-align: center;
    vertical-align: middle;
    white-space: normal;
    border-left: 1.0pt solid windowtext;
    border-right-style: none;
    border-right-color: inherit;
    border-right-width: medium;
    border-top-style: none;
    border-top-color: inherit;
    border-top-width: medium;
    border-bottom-style: none;
    border-bottom-color: inherit;
    border-bottom-width: medium;
    padding-left: 1px;
    padding-right: 1px;
    padding-top: 1px;
}

.auto-style8 {
    width: 378pt;
    color: windowtext;
    font-size: 12.0pt;
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
    font-family: "Times New Roman", serif;
    text-align: left;
    vertical-align: middle;
    white-space: normal;
    border-left: .5pt solid windowtext;
    border-right-style: none;
    border-right-color: inherit;
    border-right-width: medium;
    border-top-style: none;
    border-top-color: inherit;
    border-top-width: medium;
    border-bottom-style: none;
    border-bottom-color: inherit;
    border-bottom-width: medium;
    padding-left: 1px;
    padding-right: 1px;
    padding-top: 1px;
}

.auto-style9 {
    height: 25.5pt;
    width: 378pt;
    color: windowtext;
    font-size: 12.0pt;
    font-weight: 700;
    font-style: normal;
    text-decoration: none;
    font-family: "Times New Roman", serif;
    text-align: center;
    vertical-align: middle;
    white-space: normal;
    border-left: .5pt solid windowtext;
    border-right-style: none;
    border-right-color: inherit;
    border-right-width: medium;
    border-top-style: none;
    border-top-color: inherit;
    border-top-width: medium;
    border-bottom: 1.0pt solid windowtext;
    padding-left: 1px;
    padding-right: 1px;
    padding-top: 1px;
}

.auto-style10 {
    height: 25.5pt;
    color: windowtext;
    font-size: 12.0pt;
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
    font-family: PMingLiU, serif;
    text-align: center;
    vertical-align: middle;
    white-space: normal;
    border-left: 1.0pt solid windowtext;
    border-right-style: none;
    border-right-color: inherit;
    border-right-width: medium;
    border-top: 1.0pt solid windowtext;
    border-bottom-style: none;
    border-bottom-color: inherit;
    border-bottom-width: medium;
    padding-left: 1px;
    padding-right: 1px;
    padding-top: 1px;
}

.auto-style11 {
    width: 324pt;
    color: windowtext;
    font-size: 12.0pt;
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
    font-family: 宋体, monospace;
    text-align: left;
    vertical-align: middle;
    white-space: nowrap;
    border-left: .5pt solid windowtext;
    border-right-style: none;
    border-right-color: inherit;
    border-right-width: medium;
    border-top: 1.0pt solid windowtext;
    border-bottom-style: none;
    border-bottom-color: inherit;
    border-bottom-width: medium;
    padding-left: 1px;
    padding-right: 1px;
    padding-top: 1px;
}

.auto-style12 {
    color: windowtext;
    font-size: 12.0pt;
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
    font-family: 宋体;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    border-left: 1.0pt solid windowtext;
    border-right: .5pt solid windowtext;
    border-top: 1.0pt solid windowtext;
    border-bottom: .5pt solid windowtext;
    padding-left: 1px;
    padding-right: 1px;
    padding-top: 1px;
    width: 81pt;
}

.auto-style13 {
    color: windowtext;
    font-size: 12.0pt;
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
    font-family: 宋体;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    border-left: .5pt solid windowtext;
    border-right: .5pt solid windowtext;
    border-top: 1.0pt solid windowtext;
    border-bottom: .5pt solid windowtext;
    padding-left: 1px;
    padding-right: 1px;
    padding-top: 1px;
}

.auto-style14 {
    color: windowtext;
    font-size: 12.0pt;
    font-weight: 700;
    font-style: normal;
    text-decoration: none;
    font-family: "Times New Roman", serif;
    text-align: center;
    vertical-align: middle;
    white-space: normal;
    border-left: .5pt solid windowtext;
    border-right: .5pt solid windowtext;
    border-top: 1.0pt solid windowtext;
    border-bottom: .5pt solid windowtext;
    padding-left: 1px;
    padding-right: 1px;
    padding-top: 1px;
    height: 31px;
}

.auto-style15 {
    color: windowtext;
    font-size: 12.0pt;
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
    font-family: 宋体;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    border-left: .5pt solid windowtext;
    border-right: .5pt solid windowtext;
    border-top: .5pt solid windowtext;
    border-bottom: 1.0pt solid windowtext;
    padding-left: 1px;
    padding-right: 1px;
    padding-top: 1px;
    height: 32px;
}

.auto-style16 {
    height: 25.5pt;
    color: windowtext;
    font-size: 12.0pt;
    font-weight: 700;
    font-style: normal;
    text-decoration: none;
    font-family: "Times New Roman", serif;
    text-align: center;
    vertical-align: middle;
    white-space: normal;
    border-left: 1.0pt solid windowtext;
    border-right-style: none;
    border-right-color: inherit;
    border-right-width: medium;
    border-top: .5pt solid windowtext;
    border-bottom: .5pt solid windowtext;
    padding-left: 1px;
    padding-right: 1px;
    padding-top: 1px;
}

.auto-style17 {
    width: 216pt;
    color: windowtext;
    font-size: 12.0pt;
    font-weight: 700;
    font-style: normal;
    text-decoration: none;
    font-family: "Times New Roman", serif;
    text-align: center;
    vertical-align: middle;
    white-space: normal;
    border-left: .5pt solid windowtext;
    border-right-style: none;
    border-right-color: inherit;
    border-right-width: medium;
    border-top: .5pt solid windowtext;
    border-bottom: .5pt solid windowtext;
    padding-left: 1px;
    padding-right: 1px;
    padding-top: 1px;
}

.auto-style18 {
    width: 108pt;
    color: windowtext;
    font-size: 12.0pt;
    font-weight: 700;
    font-style: normal;
    text-decoration: none;
    font-family: "Times New Roman", serif;
    text-align: center;
    vertical-align: middle;
    white-space: normal;
    border-left: .5pt solid windowtext;
    border-right-style: none;
    border-right-color: inherit;
    border-right-width: medium;
    border-top: .5pt solid windowtext;
    border-bottom-style: none;
    border-bottom-color: inherit;
    border-bottom-width: medium;
    padding-left: 1px;
    padding-right: 1px;
    padding-top: 1px;
}

.auto-style19 {
    color: windowtext;
    font-size: 10.0pt;
    font-weight: 700;
    font-style: normal;
    text-decoration: none;
    font-family: "Times New Roman", serif;
    text-align: center;
    vertical-align: middle;
    white-space: normal;
    border-left: .5pt solid windowtext;
    border-right-style: none;
    border-right-color: inherit;
    border-right-width: medium;
    border-top: .5pt solid windowtext;
    border-bottom-style: none;
    border-bottom-color: inherit;
    border-bottom-width: medium;
    padding-left: 1px;
    padding-right: 1px;
    padding-top: 1px;
}
